<% provide(:title, @programme.name) %>

<div class="page-header">
	<h1>Programme: <%= @programme.name %> <small><a href="<%= @programme.url %>"><%= @programme.url %></a></small></h1>
</div>

<h3>Courses part of programme: <%= @programme.name %>:</h3>

<ul>
	<% @programme.courses.all.each do |c| %>
		<li><%= link_to c.name, controller: 'browse_courses', action: 'show', id: c.id, type: 'courses' %></li>
	<% end %>
</ul>