<% provide(:title, @programme.name) %>

<div class="page-header">
	<h1>
		Programme: <%= @programme.name %> 
		<small>
			<a href="<%= @programme.url %>"><%= @programme.url %></a>
		</small>
	</h1>
</div>

<h3>Courses part of programme: <%= @programme.name %>:</h3>

<%= render 'search_form' %>