<% provide(:title, 'All courses') %>

<div class="page-header">
	<h1>All <%= params[:type] %></h1>
</div>

	<%= form_tag({:controller => 'browse_courses', :action => 'index', type: params[:type] }, :method => 'get', id: 'search_form') do %>
	  <div class="input-group col-sm-4 col-md-4">
	    <%= text_field_tag :search, params[:search], class: 'form-control' %>
	    <div class="input-group-btn">
	    	<%= button_tag(name: nil, class: 'btn btn-primary') do %>
	    		<span class="glyphicon glyphicon-search"></span>
	    	<% end %>
	    </div>
	  </div>
		
		<div id="results"><%= render 'results' %></div>
	<% end %>